doctype html
html
  head
    title= title
    link(rel='stylesheet',href='/stylesheets/reset.css')
    link(rel='stylesheet',href="/stylesheets/geometria_light-Webfont.css")
    link(rel='stylesheet',href="/stylesheets/geometria_bold-Webfont.css")

    script(src="/javascripts/vendor/jquery-2.1.1.min.js")

    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")


    link(rel='stylesheet', href='/stylesheets/style.css')
    //-TO DO: This must be downloaded or removed
       for prototype status only as image holder
    script(src="/javascripts/vendor/holder.js")
    script(src="/javascripts/vendor/smooth-scroll/bind-polyfill.js")
    script(src="/javascripts/vendor/smooth-scroll/smooth-scroll.js")
    script(src="/javascripts/vendor/jquery.slides.min.js")


    script(src="/javascripts/vendor/modernizr.min.js")
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    // [if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    // [endif]

    link(rel='stylesheet' href='stylesheets/video-js.css')
    script(src="//vjs.zencdn.net/4.11/video.js")


  body(lang='en',onload='init()')
