extends layout

block content
  #main
    block nav
    block featured
    block about
    block portfolio
    block history
    block testimonials
    block clients
    block contact
    script(src="/javascripts/main.js")
