extends layout

block content
  #main
    block nav
    block featured
    block about
    block portfolio
    block history
    block testimonials
    block clients
    block contact
    script
      -var videoLinks = []
      -var videoText = []
      -each val in data.featured
          //-#{JSON.stringify(val)}
          -videoLinks.push(val.url)
          -videoText.push(val.text)
      !="var videoPlay ="
      !{JSON.stringify(videoLinks)}
      !=";\n\r"
      !="var videoText ="
      !{JSON.stringify(videoText)}
      !=";"
    script(src="/javascripts/main.js")
